server:
  port: 0

spring:
  application:
    name: foodroute-order-service

  datasource:
    url: jdbc:mysql://localhost:3306/foodroute
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        failure-rate-threshold: 50
        sliding-window-size: 10
        minimum-number-of-calls: 5
        wait-duration-in-open-state: 10s

  retry:
    instances:
      paymentService:
        max-attempts: 3
        wait-duration: 500ms
